<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppleEventsUsageDescription</key>
	<string>ショートカット「Mullion」を実行して、ほかのアプリのウィンドウを移動・サイズ変更するために使います。</string>
</dict>
</plist>
